.header-container {
  display: flex;
  height: 50px;
  padding: var(--spacing-small);
  background-color: var(--color-medium);
}

.header-counter {
  /* margin-left: auto; - этот болок максимально в право (автоматический отступ слева).
    так как у header-container есть (display: flex;)*/
  margin-left: auto;
  font-weight: bold;
  padding-right: var(--spacing-small);
  cursor: pointer;
}
